@charset "UTF-8";
/*
 Reference
  - Evondev. Hướng dẫn sử dụng Mixins trong SASS toàn tập. Evondev Blog. https://evondev.com/su-dung-mixins-trong-sass
  - Jamie Wright. (2016, April 26th). 10 Sass (SCSS) mixins you should be using in your projects. Engage. https://engageinteractive.co.uk/blog/top-10-scss-mixins
  - Rahul. (2018, December 18th). 13 Must-have SASS Mixins for Web Designers. W3bits. https://w3bits.com/sass-mixins
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: "CascadiaCode";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCode-Bold.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCode-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCode";
  font-weight: 700;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCode-BoldItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCode-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCode";
  font-weight: 200;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCode-ExtraLight.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCode-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCode";
  font-weight: 200;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCode-ExtraLightItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCode-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCode";
  font-weight: 400;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCode-Italic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCode-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCode";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCode-Light.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCode-Light.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCode";
  font-weight: 300;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCode-LightItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCode-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCode";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCode-Regular.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCode-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCode";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCode-SemiBold.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCode-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCode";
  font-weight: 600;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCode-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCode-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCode";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCode-SemiLight.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCode-SemiLight.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCode";
  font-weight: 300;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCode-SemiLightItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCode-SemiLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCodePL";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCodePL-Bold.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCodePL-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCodePL";
  font-weight: 700;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCodePL-BoldItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCodePL-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCodePL";
  font-weight: 200;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCodePL-ExtraLight.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCodePL-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCodePL";
  font-weight: 200;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCodePL-ExtraLightItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCodePL-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCodePL";
  font-weight: 400;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCodePL-Italic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCodePL-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCodePL";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCodePL-Light.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCodePL-Light.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCodePL";
  font-weight: 300;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCodePL-LightItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCodePL-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCodePL";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCodePL-Regular.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCodePL-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCodePL";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCodePL-SemiBold.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCodePL-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCodePL";
  font-weight: 600;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCodePL-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCodePL-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCodePL";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCodePL-SemiLight.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCodePL-SemiLight.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaCodePL";
  font-weight: 300;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaCodePL-SemiLightItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaCodePL-SemiLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMono";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMono-Bold.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMono";
  font-weight: 700;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMono-BoldItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMono-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMono";
  font-weight: 200;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMono-ExtraLight.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMono-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMono";
  font-weight: 200;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMono-ExtraLightItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMono-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMono";
  font-weight: 400;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMono-Italic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMono-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMono";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMono-Light.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMono-Light.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMono";
  font-weight: 300;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMono-LightItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMono-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMono";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMono-Regular.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMono";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMono-SemiBold.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMono-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMono";
  font-weight: 600;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMono-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMono-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMono";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMono-SemiLight.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMono-SemiLight.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMono";
  font-weight: 300;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMono-SemiLightItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMono-SemiLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMonoPL";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMonoPL-Bold.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMonoPL-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMonoPL";
  font-weight: 700;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMonoPL-BoldItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMonoPL-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMonoPL";
  font-weight: 200;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMonoPL-ExtraLight.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMonoPL-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMonoPL";
  font-weight: 200;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMonoPL-ExtraLightItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMonoPL-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMonoPL";
  font-weight: 400;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMonoPL-Italic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMonoPL-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMonoPL";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMonoPL-Light.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMonoPL-Light.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMonoPL";
  font-weight: 300;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMonoPL-LightItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMonoPL-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMonoPL";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMonoPL-Regular.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMonoPL-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMonoPL";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMonoPL-SemiBold.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMonoPL-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMonoPL";
  font-weight: 600;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMonoPL-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMonoPL-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMonoPL";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMonoPL-SemiLight.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMonoPL-SemiLight.ttf") format("truetype");
}
@font-face {
  font-family: "CascadiaMonoPL";
  font-weight: 300;
  font-style: italic;
  src: url("../assets/fonts/cascadia-code-2106.17/woff2/CascadiaMonoPL-SemiLightItalic.woff2") format("woff2"), url("../assets/fonts/cascadia-code-2106.17/ttf/CascadiaMonoPL-SemiLightItalic.ttf") format("truetype");
}
html {
  font-size: 62.5%;
}

body {
  font-family: "CascadiaCodePL", sans-serif;
  overflow-x: hidden;
  font-size: 1.6rem;
  color: #242f51;
  background-color: #fff;
}

.max-100 {
  max-width: 100% !important;
}
.max-90 {
  max-width: 90% !important;
}
.max-80 {
  max-width: 80% !important;
}
.max-75 {
  max-width: 75% !important;
}
.max-70 {
  max-width: 70% !important;
}
.max-60 {
  max-width: 60% !important;
}
.max-50 {
  max-width: 50% !important;
}
.max-40 {
  max-width: 40% !important;
}
.max-30 {
  max-width: 30% !important;
}
.max-25 {
  max-width: 25% !important;
}
.max-20 {
  max-width: 20% !important;
}
.max-10 {
  max-width: 10% !important;
}
.max-33 {
  max-width: 33.33333% !important;
}
.max-66 {
  max-width: 66.66667% !important;
}

.min-100 {
  min-width: 100% !important;
}
.min-90 {
  min-width: 90% !important;
}
.min-80 {
  min-width: 80% !important;
}
.min-75 {
  min-width: 75% !important;
}
.min-70 {
  min-width: 70% !important;
}
.min-60 {
  min-width: 60% !important;
}
.min-50 {
  min-width: 50% !important;
}
.min-40 {
  min-width: 40% !important;
}
.min-30 {
  min-width: 30% !important;
}
.min-25 {
  min-width: 25% !important;
}
.min-20 {
  min-width: 20% !important;
}
.min-10 {
  min-width: 10% !important;
}
.min-33 {
  min-width: 33.33333% !important;
}
.min-66 {
  min-width: 66.66667% !important;
}

.w-100 {
  width: 100% !important;
}
.w-90 {
  width: 90% !important;
}
.w-80 {
  width: 80% !important;
}
.w-75 {
  width: 75% !important;
}
.w-70 {
  width: 70% !important;
}
.w-60 {
  width: 60% !important;
}
.w-50 {
  width: 50% !important;
}
.w-40 {
  width: 40% !important;
}
.w-30 {
  width: 30% !important;
}
.w-25 {
  width: 25% !important;
}
.w-20 {
  width: 20% !important;
}
.w-10 {
  width: 10% !important;
}
.w-33 {
  width: 33.33333% !important;
}
.w-66 {
  width: 66.66667% !important;
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 575px) {
  .container {
    max-width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (max-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.container-fluid {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
