$color-primary: #2500f9;

$color-text-primary: #242f51;
$color-text-secondary: #616368;
$color-divider: #b9b9b8;

$color-white: #fff;
$color-red: #f55767;
$color-blue: #2563ff;
$color-green: #40975f;
$color-yellow: #feaa25;
$color-gray: #e2eaed;

$color-red-light: #ffecef;
$color-green-light: #e4ffee;
$color-blue-light: #f4f4ff;
$color-cyan-light: #eaf9ff;
$color-purple-light: #f4f4ff;
$color-orange-light: #fdeee4;
$color-yellow-light: #fff6d3;
$color-gray-light: #f5f7fa;
